:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*******Universal********/
a{
    text-decoration: none;
}
dl, ol, ul {
    list-style: none;
}

.title{
    text-align: center;
    font-size: 28px;
    color: #0e1532;
    font-weight: 600;
    margin: 50px auto;
    text-decoration: underline 3px solid #0e1532;
}
/******Header******/
header{
    width: 100%;
    position: fixed;
    z-index: 99;
}

.navbar-brand{color: #fff !important;font-weight: 700;font-size: 30px;padding: 5px;}

.navbar-brand img{width: 80px;height: 60px;}

.nav-item{position: relative;white-space: nowrap;}

.nav-item a{
    color: #fff !important;
    margin: 6px;
    font-weight:700;
    text-transform: uppercase;
}
.nav-item a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #fff !important;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out;
}
.navbar-nav a:hover::before,
.navbar-nav li:hover > a::before,
.navbar-nav .active > a::before{
    visibility: visible;
    width: 100%;
}
.nav-item a:hover,
.nav-item .active > a,
.nav-item li:hover > a{
    color: #dfcc03 !important;
}
.dropdown-menu {background-color: #6a6a6a !important;margin-bottom: 15px;width: 200px; text-align: center;}


.inscription-btn{
    height: 40px;
    width: 150px;
    border: 2px solid #dfcc03;
    background: #fdfdfdab;
}
.inscription-btn a{text-decoration: none;color: #0e1532;font-weight: bold;}
.inscription-btn a:hover{color: #dfcc03;}

/*****Banner******/
.banner{
    height: 100vh
}
.banner .carousel-inner{
    position: absolute;
}
.carousel .item{height: 100vh;width: 100%;}

.carousel .item img{width: 100%;height: 100%;object-fit: cover;animation-name: fadeInUp;}

.carousel .cover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(14, 21, 50, 0.33);
    display: flex;
    align-items: center;
}
.carousel .header-content{position: relative;padding:80px ;}

.carousel .header-content h2{color: #fff;font-weight: bold;font-size: 35px;line-height: 2.5; font-family: 'Libre Baskerville', serif;}

.carousel .header-content .line{
    content: "";
    width: 100%;
    height: 100%;
    margin: 20px;
    left: 0;
    top: 0;
    position: absolute;
    border: 17px solid #dfcc03;
    clip-path: polygon(0 0, 60% 0, 36% 100%, 0% 100%);
}
.carousel .btn-carousel{
    width:200px ;
    margin: 20px;
    padding: 10px;
}
.carousel a:hover{
    color: #fff;
}
.btn-about{
    background-color: #0e1532;
    border: 3px solid #0e1532;
}
.btn-about a{
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}

.btn-about:hover{
    background-color: rgba(255, 255, 255, 0.229);
    border: 3px solid #0e1532;
}
.btn-inscription{
    background-color: #fff;
    border: 3px solid #fff;
}
.btn-inscription a{
    color: #0e1532;
    font-weight: 400;
    text-decoration: none;
}
.btn-inscription:hover{
    background-color: rgba(255, 255, 255, 0.229);
    border: 3px solid #dfcc03;
}
.btn-inscription:hover a{
    color: #fff;
}

.owl-carousel .active .line{
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: 0.6;
    animation-duration: 1.3s;
    animation-name: fadeInLeft;
}
.owl-carousel .active h4{
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: 0.6s;
    animation-duration: 1.3s;
    animation-name: fadeInUp;
}
.owl-carousel .active h2{
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: 0.6s;
    animation-duration: 1.3s;
    animation-name: fadeInUp;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}
.owl-carousel .active button{
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: 0.6s;
    animation-duration: 1.3s;
    animation-name: fadeInDown;
}
.owl-prev{
    position: absolute;
    top: 50%;
    left: 40px;
    height: 50px;
    width: 50px;
    border-radius: 50% !important;
    border: 2px solid #dfcc03 !important;
    z-index: 999;
    color: #fff;
    font-weight:bolder;
}
.owl-next{
    position: absolute;
    top: 50%;
    right: 40px;
    height: 50px;
    width: 50px;
    border-radius: 50% !important;
    border: 2px solid #dfcc03 !important;
    z-index: 999;
    color: #fff;
    font-weight:bolder;
}
/******Infos*****/
.infos{
    background-color: #0e1532;
    display: flex;
    color: #fff;
    width: 60% !important;
    margin: auto;
}
.infos div:first-child{
    background-color: red;
    width: 150px;
}
.infos div:first-child p{text-align: center;margin-top: 10px;}
.infos div:last-child{
    width: 100%;
}
marquee p{margin-top: 10px;}
/*********About*******/
.about{
    min-height:80vh;
    display: grid;
    place-items: center;
    width: 100%;
    background: url('curve.svg');
}

.about .about-text p{
    font-size: 18px;
    letter-spacing: 2px;
    padding: 0;
}
.about .about-text p span{
    font-weight: bolder;
    font-size: 19px;
}
.about-text button{
    background-color: #dfcc03;
    border:2px solid #dfcc03;
    text-decoration: none;
    padding: 10px;

}
.about-text button:hover{
    background-color: #0e1532;
    border: 2px solid #0e1532;
}
.about-text button:hover a{color: #fff;}
.about-text button a{
    color: #0e1532;
    font-weight: 400;
    text-decoration: none;
    padding: 10px;
    font-size: 21px;

}


/**********Ours services********/
.ours_services{
    display: grid;
    place-items: center;
    min-height: 100vh;
}
.ours_services .box{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 15px;
    margin: 20px auto;
}
.ours_services .active{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 5px 0px 20px 0px #b9b9b9;
}
.ours_services  .box:hover{
    box-shadow: 5px 0px 20px 0px #b9b9b9;
}
.ours_services .box:hover .icon-box i{
    color: #dfcc03;
    transition: 0.3s ease-in-out;
    transform: rotate(50deg);
}
.ours_services .icon-box{margin-top: 10px;}
.ours_services .icon-box i{
    font-size: 32px;
    color: #0e1532;
}
.ours_services .text-box{
    margin: 30px auto;
}
.ours_services .text-box span{
    font-size: 20px;
    font-weight: 700;
    color: #0e1532;
}


/******Facultes*******/
.facultes{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:
    linear-gradient(   #0e1532e3, #0e1532e3),
    url('assets/img/bau.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
.facultes .title{color: #fff;}
.facultes .faculte{
    background-color: #f2f2f2;
    margin: 20px auto;
}
.facultes .faculte:hover{
    box-shadow: 5px 0px 20px 0px #b9b9b9;
    transition: 0.3s all ease-in-out;
}
.facultes .faculte h3{
    line-height:1.8;
}
.faculte:hover h3{
    color: #fff;
}
.facultes .faculte .detail-faculte{
    font-weight: 700;
    font-size: 24px;
}
.facultes a{
    display: flex;
justify-content: end;
}
.facultes a i{
    font-size: 25px;
    padding: 15px;

}

/***Faculte Hover***/
.communication:hover{
    background-image:
    linear-gradient(   #dfcd037d, #dfcd037d),
    url('assets/img/facultes/communication.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
}
.architecture:hover{
    background-image:
    linear-gradient(   #dfcd037d, #dfcd037d),
    url('assets/img/facultes/Architecture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
}
.art_science:hover{
    background-image:
    linear-gradient(   #dfcd037d, #dfcd037d),
    url('assets/img/facultes/art_science.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
}
.droit:hover{
    background-image:
    linear-gradient(   #dfcd037d, #dfcd037d),
    url('assets/img/facultes/droit.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
}
.ingenierie:hover{
    background-image:
    linear-gradient(   #dfcd037d, #dfcd037d),
    url('assets/img/facultes/ingenierie.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
}
.economie:hover{
    background-image:
    linear-gradient(   #dfcd037d, #dfcd037d),
    url('assets/img/facultes/economie.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
}
.sante:hover{
    background-image:
    linear-gradient(   #dfcd037d, #dfcd037d),
    url('assets/img/facultes/sante.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
}
.medecine:hover{
    background-image:
    linear-gradient(   #dfcd037d, #dfcd037d),
    url('assets/img/facultes/medecine.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
}
.pharmacie:hover{
    background-image:
    linear-gradient(   #dfcd037d, #dfcd037d),
    url('assets/img/facultes/pharmacie.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
}
.infirmerie:hover{
    background-image:
    linear-gradient(   #dfcd037d, #dfcd037d),
    url('assets/img/facultes/infirmerie.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
}
.veterinaire:hover{
    background-image:
    linear-gradient(   #dfcd037d, #dfcd037d),
    url('assets/img/facultes/veterinaire.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
}
.tourisme:hover{
    background-image:
    linear-gradient(   #dfcd037d, #dfcd037d),
    url('assets/img/facultes/tourisme.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
}

/********How We*******/
.how_we{
    background-image:
    linear-gradient(   #0e1532b5, #0e1532b5),
    url('assets/img/how_we_2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
}
.how_we .title{
    font-size: 30px;
    text-decoration: none;
    color: #fff;
}
.how_we .content-box p{
    font-size: 25px;
}
.how_we .content-box i{
    color: #dfcc03;
    font-size: 30px;
    margin-bottom: 10px;
}


/*******Partenaire***/

.partenaires .partenaire-box{
    background: #f2f2f2;
    margin: 20px auto;
}
.partenaires .partenaire-box:hover{
    box-shadow: 5px 0px 20px 0px #0e1532;
    transition: 0.3s all ease-in-out;
}
.partenaire-box .content-box{
    padding: 10px;
}
.partenaire-box .logo-partenaire img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-right: 20px;
}
.name-partenaire span{font-weight: 600;}


/******Galerie****/
.section-galerie{
    margin: 50px auto;
}
.section-galerie .galerie img{
    width: 50%;
    height: 50%;
}
.section-galerie .owl-dots{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 20px;
}
.owl-dots .owl-dot.active span{background: #dfcc03 !important;}
.section-galerie .owl-dots button{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    background: #0e1532;
    margin: 10px;
}
.section-galerie p{
    font-size: 20px;
}
.section-galerie p a{color: #dfcc03;text-decoration: none;}

/******Testimonial*******/
.testimonial .box-carousel{
    display: grid;
    place-items: center;
}
.testimonial video{
    height: 400px;
    width: 100%;
}
.testimonial .carousel-indicators{
    margin-top: 50px;
}
.testimonial .carousel-indicators button{
    background: #0e1532;
    border-radius: 50%;
    margin: 20px;
    border: none;
    height: 20px;
    width: 20px;
}
.testimonial .carousel-inner{
    margin-bottom: 100px;
}
.testimonial .carousel-item p i{
    font-size: 50px;
    color: #6a6a6a2d;
}
.testimonial .name{
    font-size: 18px;
    font-weight: 600;
}
.testimonial .statut{
    color: gray;
}


/********Contact us******/
.contact_us{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_us .icons{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #0e1532;
    margin-right: 20px;
}
.contact_us i{
    font-size: 20px;
    color: #fff;
}
.contact_us form{
  margin-left: 30px;
}
.contact_us form span{
    color: red;
    font-size: 18px;
}

/*********Footer*******/
.footer{
    background: gray;
}
.footer .menu{
    margin: 0px auto;
}
.footer .menu ul li{margin: 20px; font-size: 18px;}

.footer a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
.footer .socials .social{
    background: #fff;
    height: 40px;
width: 40px;
border-radius: 50%;
}
.social a i{
    color: #0e1532;
}


/********Inscription********/
.bg_inscription{
    background: url('assets/img/bg_inscription.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 70vh;
    

}
.bg_inscription h3{
    font-size: 42px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.inscription .input{
    position: relative;
    margin-bottom: 50px
}
.inscription .input input{
    border: none;
    border-bottom: 2px solid #0e1532;
    outline: none !important;
    box-shadow:none;
    width: 100%;
}
.inscription .input select{
    border: none;
    border-bottom: 2px solid #0e1532;
    outline: none !important;
    box-shadow:none;
    width: 100%;
}
.inscription .input label{
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    color: #0e1532;
    transition: 0.3s all ease-in-out;
    text-transform: uppercase;
    color: rgb(158, 158, 158)
  
}
.inscription .input input:focus ~ label{
  transform: translateY(-15px);
  color: #dfcc03;
}
.inscription .input select:focus ~ select{
    transform: translateY(-15px);
    color: #dfcc03;
  }
.inscription h4{
    margin: 0 0 10px 0;
    line-height: 60px;
    color: #777;
    border-bottom: solid 1px #777;
    margin-bottom: 35px;
    font-size: 2.28rem;
}


/*******Facultes*******/
.facultees{
    background: url('assets/img/bg_filiere.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 70vh;    
}


/*********Galerie********/
.galerie a img{
    width: 100%;
    height: 300px;
}

/*********Destination********/
.destination{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.destination img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.destination h5{
    font-weight: bold;
}





/***********responsive*******/

@media (max-width:991px) {
    
    /*******Header******/
    .navbar-collapse{
        height: 80vh;
        text-align: center;
        display: grid;
        place-items: center;
        z-index: 99;
    }
    
    .navbar-toggler{background: #fff !important;}

    .inscription-btn{margin: 0;display: block;position: relative;}

    .inscription-btn-mobile{margin: auto;}

    .inscription-btn-desktop{display: none;}
    
    /*************carousel**************/

    .carousel .header-content h2{font-size: 40px; padding: 10px;}

    .carousel .header-content h4{color: #fff;font-weight: 300;font-size: 24px;}

    /********About*******/
    .about-text button{
       display: flex;
       justify-content: center;
       align-items: center;
    
    }
    /******Infos******/
    .infos{
        width: 90% !important;
    }
    /******Partenaires*****/
    .partenaires .partenaire-box span{
        text-align: center;
    }
    /******Contact us******/
    .contact_us form{
        margin:30px auto;
      }

      /*****Footer******/
      .footer .menu ul{
          flex-direction: column;
          text-align: start;
      }
      
    
}

/*Tablette*/
@media (max-width:768px) {
    /*carousel*/
    .carousel .header-content h2{font-size: 35px;}

    .owl-nav{display: none;}
    .header-content h4{font-size: 18px;}

    /****Infos*****/
    .infos{
        width: 100% !important;
        margin-top: 10px;
    }
}

/*mobile*/
@media (max-width:576px) {
    /***Nav***/
    header{
        position: relative;
        background: #0e1532 !important;
        padding: 5px 0px !important;
    }
    /*carousel*/
    .header-content h1{font-size: 28px;}

    .header-content h4{font-size: 12px;}

    .header-nav{margin: 0;}

    .carousel .header-content h2{line-height: 2;}
}

@media (max-width:475px){

    /*navbar*/
    .inscription-btn-desktop{display: block;margin: 3px auto;}

    .inscription-btn-mobile{
        display: none;
    }

    /*carousel*/
    .carousel .header-content{position: relative;padding:50px ;}

    .carousel .header-content h2{font-size: 32px;line-height: 1.9;}

}