*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*******Universal********/
.title{
    text-align: center;
    font-size: 42px;
    color: #0e1532;
    font-weight: 600;
    margin-bottom: 50px;
}

header{
    width: 100%;
    position: fixed;
    z-index: 99;
    
}


.navbar-brand{color: #fff !important;font-weight: 700;font-size: 30px;padding: 5px;}

.navbar-brand img{width: 80px;height: 60px;}

.nav-item{position: relative;white-space: nowrap;}

.nav-item a{
    color: #fff !important;
    margin: 6px;
    font-weight:700;
    text-transform: uppercase;
}
.nav-item a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #fff !important;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out;
}
.navbar-nav a:hover::before,
.navbar-nav li:hover > a::before,
.navbar-nav .active > a::before{
    visibility: visible;
    width: 100%;
  }
.nav-item a:hover,
.nav-item .active > a,
.nav-item li:hover > a{
    color: #dfcc03 !important;
  }
.dropdown-menu {background-color: #6a6a6a !important;margin-bottom: 15px;width: 200px; text-align: center;}


.inscription-btn{
    height: 40px;
width: 150px;
border: 2px solid #dfcc03;
background: #fdfdfdab;
}
.inscription-btn a{text-decoration: none;color: #0e1532;font-weight: bold;}
.inscription-btn a:hover{color: #dfcc03;}


.banner{
    height: 100vh
}
.banner .carousel-inner{
    position: absolute;
}


/*********************Carousel**************/
.carousel .item{height: 100vh;width: 100%;}

.carousel .item img{width: 100%;height: 100%;object-fit: cover;animation-name: fadeInUp;}

.carousel .cover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(14, 21, 50, 0.33);
    display: flex;
    align-items: center;
}
.carousel .header-content{position: relative;padding:80px ;}

.carousel .header-content h2{color: #fff;font-weight: bold;font-size: 35px;line-height: 2.5; font-family: 'Libre Baskerville', serif;}

.carousel .header-content .line{
    content: "";
    width: 100%;
    height: 100%;
    margin: 20px;
    left: 0;
    top: 0;
    position: absolute;
    border: 17px solid #dfcc03;
    clip-path: polygon(0 0, 60% 0, 36% 100%, 0% 100%);
}
.carousel .btn-carousel{
    height: 40px;
    width: 150px;
    background: #0e1532;
    border: 1px solid #0e1532;
    border-radius: 5px;
}
.carousel .btn-carousel a{color: #fff;text-decoration: none;}

.owl-carousel .active .line{
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: 0.6;
    animation-duration: 1.3s;
    animation-name: fadeInLeft;
}
.owl-carousel .active h4{
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: 0.6s;
    animation-duration: 1.3s;
    animation-name: fadeInUp;
}
.owl-carousel .active h2{
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: 0.6s;
    animation-duration: 1.3s;
    animation-name: fadeInUp;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}
.owl-carousel .active button{
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: 0.6s;
    animation-duration: 1.3s;
    animation-name: fadeInDown;
}
.owl-prev{
    position: absolute;
    top: 50%;
    left: 40px;
    height: 50px;
    width: 50px;
    border-radius: 50% !important;
    border: 2px solid #dfcc03 !important;
    z-index: 999;
    color: #fff;
    font-weight:bolder;
}
.owl-next{
    position: absolute;
    top: 50%;
    right: 40px;
    height: 50px;
    width: 50px;
    border-radius: 50% !important;
    border: 2px solid #dfcc03 !important;
    z-index: 999;
    color: #fff;
    font-weight:bolder;
}

/*********About*******/
.about{
    min-height:100vh;
    display: grid;
    place-items: center;
    width: 100%;

    
}

.about-img img{
   height: 55vh;
   margin-top: 65px;
}
.about .statistique{
    display: grid;
    place-items: center;
    margin:10px;
    width: 80%;
    height: 120px;
    display: grid;
    place-items: center;
    box-shadow: 5px 0px 20px 0px #b9b9b9;
    border-radius: 5px;
    float: right;
}
.about .statistique:hover{
    transition: 0.3s ease-in-out;
    transform: translateX(16px);
    background:url('assets/img/ss.svg');
}
.about .statistique:hover p{color: #fff;}


.about .statistique .span{
    font-size: 25px;
    color: #dfcc03;
    font-weight: 700;
}
.about .statistique p{
    font-size: 18px;
    font-weight: 600;
    font-weight: 300;
}
.about .about-text p{
    font-size: 18px;
    letter-spacing: 2px;
    padding: 0;
}
.about .about-text p span{
    font-weight: bolder;
    font-size: 19px;
}
.about .trait{
    height: 100%;
    background:#0e1532;
    width: 2px;
}


/**********Ours services********/
.ours_services{
    display: grid;
    place-items: center;
    min-height: 100vh;
}
.ours_services .box{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 15px;
    margin: 20px auto;
}
.ours_services .active{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 5px 0px 20px 0px #b9b9b9;
}

.ours_services  .box:hover{
    box-shadow: 5px 0px 20px 0px #b9b9b9;
}
.ours_services .box:hover .icon-box i{
    color: #dfcc03;
    transition: 0.3s ease-in-out;
    transform: rotate(50deg);
}
.ours_services .icon-box{margin-top: 10px;}
.ours_services .icon-box i{
    font-size: 32px;
    color: #0e1532;
}
.ours_services .text-box{
    margin: 30px auto;
}
.ours_services .text-box span{
    font-size: 20px;
    font-weight: 700;
    color: #0e1532;
}



/******Galerie****/
.section-galerie .galerie img{
    width: 50%;
    height: 50%;
}
.section-galerie .owl-dots{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 20px;
}
.owl-dots .owl-dot.active span{background: #dfcc03 !important;}

.section-galerie .owl-dots button{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    background: #0e1532;
    margin: 10px;
}



/*******Partenaire***/

.partenaires .partenaire-box{
    background: #f2f2f2;
    margin: 20px auto;
}
/* .partenaires .partenaire-box:hover{
    box-shadow: 5px 0px 20px 0px #b9b9b9;
} */
.partenaire-box .content-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.partenaire-box .logo-partenaire img{
    height: 90px;
    width: 100%;
    border-radius: 50%;
}

.name-partenaire span{font-weight: 600;}


/*****Contact_us*****/
.contact_us{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_us .contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_us .icon{
    height: 100px;
    width: 100px;
    background: #0e1532;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.contact_us .icon span i{
    font-size: 20px;
    color: #dfcc03;
    
}
.contact_us .detail p{
    font-size: 18px;
    font-weight: 600;
}

/***********responsive*******/

@media (max-width:991px) {
    
    /*******Header******/
    
    .navbar-collapse{
        height: 100vh;
        text-align: center;
        display: grid;
        place-items: center;
        z-index: 99;
    }
    
    .navbar-toggler{background: #fff;}

    .nav-item a::before{content: none;}

    .inscription-btn{margin: 0;display: block;position: relative;}

    .inscription-btn-mobile{margin: auto;}

    .inscription-btn-desktop{display: none;}
    
    /*************carousel**************/
    .carousel .header-content{padding:50px ;}

    .carousel .header-content h2{font-size: 42px;}

    .carousel .header-content h4{color: #fff;font-weight: 300;font-size: 24px;}

    .carousel .btn-carousel{
        margin: 5px !important;
    }


    /*****About***/
    .about-detail{
        flex-direction: column-reverse;
    }
    .about .statistique{margin: 30px auto;width: 65%;}
    .about-text{margin: 0 !important;}
    .about-img img{height: 100%;}

    .about .statistique{
       
        float: none;
    }
}

/*Tablette*/
@media (max-width:768px) {
    /*carousel*/
    .header-content h1{font-size: 38px;}

    .header-content h4{font-size: 18px;}
    .owl-next{display: none;}
}

/*mobile*/
@media (max-width:576px) {
    /*carousel*/
    .header-content h1{font-size: 28px;}

    .header-content h4{font-size: 12px;}

    .header-nav{margin: 0;}

    .carousel .header-content h2{line-height: 2;}
}

@media (max-width:475px){

    /*navbar*/
    .inscription-btn-desktop{display: block;margin: 3px auto;}

    .inscription-btn-mobile{
        display: none;
    }

    /*carousel*/
    .carousel .header-content{position: relative;padding:50px ;}

    .carousel .header-content h2{font-size: 32px;line-height: 1.9;}

    .carousel .header-content .line{margin: 10px;}
}